@import '../../assets/styles/colors.scss';

.input {
  outline: none !important;
  box-shadow: none;
  width: 100%;
  max-height: 50px;
  margin: 10px 0;
  padding: 20px 15px;
  border: 1px solid $input-border;
  border-radius: 5px;
  caret-color: $primary;

  color: $primary;
  font-weight: 800;
  font-size: 14px;
  transition: border-color 0.5s ease-out;

  &:focus {
    border: 2px solid $primary;
  }
}
