@import 'assets/styles/colors.scss';

.title {
  color: $primary;
  letter-spacing: 0.1em;
}

.textarea {
  width: 100%;
  margin: 20px 0;
  color: $primary;
  border: 1px solid $input-border;
  padding: 15px 20px;
  font-weight: 800;
  outline: none;

  &:focus {
    border: 2px solid $primary;
  }
}
