$primary: #4fbfaf;
$primary-opacity-80: rgba(79, 191, 175, 0.8);
$secondary: #eff3f8;
$secondary-opacity-60: rgba(239, 243, 248, 0.6);
$secondary-opacity-30: rgba(239, 243, 248, 0.3);

// Text
$title: #000;
$subtitle: #a3b5cc;

// Input
$input-border: rgba(163, 181, 204, 0.6);
